

 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
    /* Telling our absolute positioned video to 
    be relative to this element */
    
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: relative;
    top: 0;
    left: 0;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
  }
  #showcases{
    background-image: url("family.jpeg");
  }
  #nav-itemf{
      size: 10px;
  }
  
  
  img{
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 370px;
}
img-fluid{
    height: 300px;
    width: 100px;
}
@media (min-width: 768px){
    .new-input{
        width: 50%;
    }
}
.navbar{
    color: orange;
}
.nav-item{
    
}
